<div class="mt-5 d-flex justify-content-center">
  <div class="col-7">
    <div class="p-5 text-white bg-dark rounded-3">
      <h1 class="display-5 fw-bold">Bienvenido a Gohisalo App</h1>
      <span>
        <h3 class="fw">
          Universidad Santo Tomas - Tunja &nbsp;
          <a>
            <img class="logo-admin" src="../assets/imagenes/logit.png" />
          </a>
        </h3>
      </span>

      <p>
        <i class="fa fa-check chequeo"></i>&nbsp;Facultad Ingenería de Sistemas
      </p>


      <div class="d-grid col-4">
        <button class="btn btn-primary btn-lg" type="button" [routerLink]="['/login']">
          Ingresar
        </button>
      </div>
    </div>
  </div>
</div>
