<div class="container-fluid pt-4 px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard/home"> <i class="fa fa-home me-2"></i>
          Inicio
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Procesos</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between ps-2 pe-2">
    <h4 class="mb-3 text-center text-primary">Procesos de evaluación</h4>
    <a routerLink="/dashboard/processes/create" class="btn btn-primary mb-2 text-end">Crear nuevo proceso</a>
  </div>
  <div class="row g-4">
    <div class="col-12">
      <div class="bg-light rounded h-100 p-4">

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Estado</th>
              <th scope="col">Fecha incio</th>
              <th scope="col">Fecha fin</th>
              <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proc of procesosArr; let indice=index; ">
              <th>{{indice+1}}</th>
              <td>{{proc.nombre}}</td>
              <td *ngIf="proc.estado==1; "><span class="badge bg-info">Creado</span></td>
              <td *ngIf="proc.estado==2"><span class="badge bg-primary">Activo</span></td>
              <td *ngIf="proc.estado==3"><span class="badge bg-secondary">Finalizado</span></td>
              <td>{{proc.fecha_inicio}}</td>
              <td>{{proc.fecha_fin}}</td>
              <td>
                <a class="text-danger me-2 cursor-pointer"><i class="fa fa-trash"></i></a>
                <a *ngIf="false" class="text-primary me-2 cursor-pointer"><i class="fa fa-chart-bar"></i></a>
                <a class="text-info me-2 cursor-pointer"><i class="fa fa-edit"></i></a>
                <a class="text-success me-2 cursor-pointer"><i class="fa fa-play"></i></a>
                <a *ngIf="false" class="text-danger me-2 cursor-pointer"><i class="fa fa-stop"></i></a>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <ng-template #botonActivo >
    <td *ngIf=""><span class="badge bg-primary">Activo</span></td>
  </ng-template>
</div>
