<div class="sidebar pe-4 pb-3" [ngClass]="showSidebar? '' : 'open'">
  <nav class="navbar bg-light navbar-light">
    <a class="navbar-brand mx-4 mb-3">
     <h3 class="text-primary"> <img class="rounded-circle" src="assets/img/gohi-logo.png" alt="" style="width: 40px; height: 40px">&nbsp;GOHI</h3>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <img class="rounded-circle" src="assets/img/user.png" alt="" style="width: 40px; height: 40px;">
        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0">Juan Camilo</h6>
        <span>Admin</span>
      </div>
    </div>
    <div class="navbar-nav w-100">
      <a routerLink="/dashUser/home" [routerLinkActive]="['active']" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
      <a routerLink="/dashUser/surveys" [routerLinkActive]="['active']" class="nav-item nav-link"><i class="fa fa-poll me-2"></i>Encuestas</a>
      <a routerLink="/dashUser/processes" [routerLinkActive]="['active']" class="nav-item nav-link"><i class="fa fal fa-arrow-right me-2"></i>Procesos</a>
      <a routerLink="/dashUser/my-surveys" [routerLinkActive]="['active']" class="nav-item nav-link"><i class="fa fa-poll-h me-2"></i>Mis encuestas</a>
    </div>
  </nav>
</div>
