<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-6 col-xl-4" *ngFor="let info of infoGeneral">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-{{info.icon}} fa-3x text-primary"></i>
        <div class="ms-2 me-4">
          <p class="mb-2">{{info.name}}</p>
          <h6 class="mb-0">{{info.value}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Gráfica última encuesta</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Resumen general encuestas</h6>
        </div>
      </div>
    </div>
  </div>
</div>
