<div class="container-fluid pt-4 px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dash/home"> <i class="fa fa-home me-2"></i>
          Inicio
        </a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/dash/processes">Procesos </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Crear</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between ps-2 pe-2">
    <h4 class="mb-3 text-center text-primary">Crear nuevo proceso de evaluación</h4>
  </div>

  <div class="row g-4">
    <div class="col-12">
      <div class="bg-light rounded h-100 p-4">
        <h5 class="mb-4">Información general</h5>
        <form>

          <div class="row mb-3">
            <label for="inputName" class="col-sm-2 col-form-label">Nombre proceso: </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="nombre" id="inputName"
                [(ngModel)]="procesoSeleccionado.nombre">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputDescription" class="col-sm-2 col-form-label">Descripción: </label>
            <div class="col-sm-10">
              <textarea rows="5" class="form-control" name="descricpcion" id="inputDescription"
                [(ngModel)]="procesoSeleccionado.descripcion"></textarea>
            </div>
          </div>

          <div class="row mb-3">
            <label for="selectEncuesta" class="col-sm-2 col-form-label">Encuesta: </label>
            <div class="col-sm-10">
              <select class="form-select col-sm-10" id="selectEncuesta" name="selectEncuesta"
              [(ngModel)]="procesoSeleccionado.codigo_encuesta">
              <option *ngFor="let encu of encuestasArr;" [ngValue]="encu.codigo" [disabled]="encu.codigo==0" >
                {{encu.nombre}}
              </option>
            </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputfechaInicio" class="col-sm-2 col-form-label">Fecha inicio: </label>
            <div class="col-sm-10">
              <input type="datetime-local" class="form-control" name="inputfechaInicio" id="inputfechaInicio"
                [(ngModel)]="procesoSeleccionado.fecha_inicio">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputfechaFin" class="col-sm-2 col-form-label">Fecha fin: </label>
            <div class="col-sm-10">
              <input type="datetime-local" class="form-control" name="inputfechaFin" id="inputfechaFin"
                [(ngModel)]="procesoSeleccionado.fecha_fin">
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div *ngIf="newProceso.length === 0; then crearProcesos; else acordionCorreos;"></div>

  <ng-template #crearProcesos>
    <div class="d-flex justify-content-end mt-4 mb-4">
      <button class="btn btn-primary" (click)="agregarProceso()">Crear Proceso</button>
    </div>
  </ng-template>

  <ng-template  #acordionCorreos>
    <div class="col-12 mt-4 mb-2">
      <div class="bg-light rounded h-100 p-4">
        <h5 class="mb-4">Crear correos</h5>
        <div class="accordion accordion-flush" id="accordionDimensiones">
          <div class="accordion-item">
            <h2 class="accordion-header" [attr.id]="'flush'+1">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#dimension'+1" aria-expanded="true"
                [attr.aria-controls]="'dimension'+1">
                Mis Correos
              </button>
            </h2>

              <div [attr.id]="'dimension'+1" class="accordion-collapse show"
                [attr.aria-labelledby]="'flush'+1" data-bs-parent="#accordionDimensiones">
                <div class="accordion-body">
                  <div class="d-flex justify-content-between align-items-center align-content-center mb-1">
                    <input class="col form-control" name="correo" id="inputCorreo"
                      [(ngModel)]="procesoSeleccionado.correo" />
                    <a class="text-primary ms-2" (click)="agregarCorreosArr()"><i class="fa fa-check"></i></a>
                    <a class="text-info ms-2" *ngIf="false"><i class="fa fa-edit"></i></a>
                    <a class="text-danger ms-2"><i class="fa fa-trash"></i></a>
                  </div>

                  <div *ngFor="let cor of correosArr; let indice=index;"  class="d-flex justify-content-between align-items-center align-content-center mb-1">
                    <b class="col-1 text-center">{{indice+1}} </b>
                    <p class="col m-0 p-0">
                      {{cor.correo}}
                    </p>

                  </div>

                  <div *ngIf="correosArr.length>0; then botonAgregar;"></div>

                  <ng-template #botonAgregar>
                    <div [hidden]="newCorreos.length>0" class="d-flex justify-content-end mt-2">
                      <button class="btn btn-primary text-end" (click)="agregarCorreos()">Crear correos</button>
                    </div>
                  </ng-template>



                </div>
              </div>

          </div>

        </div>
      </div>
    </div>
    <div *ngIf="newCorreos.length>0" class="d-flex justify-content-end mt-2">
      <button class="btn btn-primary text-end" (click)="regresar()">regresar</button>
    </div>
  </ng-template>

</div>
