<div class="container-fluid pt-4 px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dash/home"> <i class="fa fa-home me-2"></i>
          Inicio
        </a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/dash/surveys">Encuestas</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Crear</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between ps-2 pe-2">
    <h4 class="mb-3 text-center text-primary">Crear nueva versión de encuesta</h4>
  </div>

  <div class="col-12">
    <div class="bg-light rounded h-100 p-4">
      <h5 class="mb-4">Información general</h5>
      <form>
        <div class="row mb-3">
          <label for="inputName" class="col-sm-2 col-form-label">Nombre encuesta: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="nombre" id="inputName"
              [(ngModel)]="encuestaSeleccionada.nombre">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputDescription" class="col-sm-2 col-form-label">Descripción: </label>
          <div class="col-sm-10">
            <textarea rows="5" class="form-control" name="descricpcion" id="inputDescription"
              [(ngModel)]="encuestaSeleccionada.descricpcion"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="newEncuesta.length === 0; then crearEncuestas; else acordionDimensiones"></div>

  <ng-template #acordionDimensiones>
    <div class="col-12 mt-4 mb-2">
      <div class="bg-light rounded h-100 p-4">
        <h5 class="mb-4">Dimensiones</h5>
        <div class="accordion accordion-flush" id="accordionDimensiones">
          <div *ngFor="let dim of dimensionesArr; let indice=index" class="accordion-item">
            <h2 class="accordion-header" [attr.id]="'flush-heading'+dim.codigo">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#dimension'+dim.codigo" aria-expanded="true"
                [attr.aria-controls]="'dimension'+dim.codigo">
                {{dim.codigo}} - {{dim.nombre}}
              </button>
            </h2>

            <div *ngIf="dim.codigo>1; then acordionCollapse; else acordionShow"></div>

            <ng-template #acordionShow>
              <div [attr.id]="'dimension'+dim.codigo" class="accordion-collapse collapse show"
                [attr.aria-labelledby]="'flush-heading'+dim.codigo" data-bs-parent="#accordionDimensiones">
                <div class="accordion-body">
                  <div class="d-flex justify-content-between align-items-center align-content-center mb-1">
                    <b class="col-1 text-center">1. </b>
                    <input class="col form-control" name="pregunta" id="inputPreg"
                      [(ngModel)]="preguntaSeleccionada.pregunta" />
                    <a class="text-primary ms-2"><i class="fa fa-check"></i></a>
                    <a class="text-info ms-2" *ngIf="false"><i class="fa fa-edit"></i></a>
                    <a class="text-danger ms-2"><i class="fa fa-trash"></i></a>
                  </div>


                  <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary text-end" (click)="agregarPregunta(dim.codigo)">Nueva pregunta</button>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template #acordionCollapse>
              <div [attr.id]="'dimension'+dim.codigo" class="accordion-collapse collapse "
                [attr.aria-labelledby]="'flush-heading'+dim.codigo" data-bs-parent="#accordionDimensiones">
                <div class="accordion-body">
                  <div class="d-flex justify-content-between align-items-center align-content-center mb-1">
                    <b class="col-1 text-center">1. </b>
                    <input class="col form-control" name="pregunta" id="inputPreg"
                      [(ngModel)]="preguntaSeleccionada.pregunta" />
                    <a class="text-primary ms-2"><i class="fa fa-check"></i></a>
                    <a class="text-info ms-2" *ngIf="false"><i class="fa fa-edit"></i></a>
                    <a class="text-danger ms-2"><i class="fa fa-trash"></i></a>
                  </div>


                  <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary text-end" (click)="agregarPregunta(dim.codigo)">Nueva pregunta</button>
                  </div>
                </div>
              </div>
            </ng-template>


          </div>

        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #crearEncuestas>
    <div class="d-flex justify-content-end mt-4 mb-4">
      <button class="btn btn-primary" (click)="agregarEncuesta()">Crear encuesta</button>
    </div>
  </ng-template>



</div>
