.miCursor {
  cursor: pointer;
  text-decoration: none;
}
.papeleraRoja {
  color: #9e2702;
}

.papeleraGris {
  color: #a09898;
}

.manito tr {
  cursor: pointer;
}

.chequeo {
  font-size: 18px;
  color: #9e2702;
}

.negrita {
  font-weight: bold;
}
.logo-survey {
  width: 40px;
}

.logo-admin {
  width: 100px;
  left: 300px;
}

.logo-uni {
  width: 200px;
}


/* Para breadcrum */
ol li a[ng-reflect-router-link] {
  color: #9e2702;
  text-decoration: none;
}
