<div class="container-fluid pt-4 px-4">
  <nav aria-p="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard/home"> <i class="fa fa-home me-2"></i>
          Inicio
        </a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/dashboard/my-surveys">Mis encuestas</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Diligenciar</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between ps-2 pe-2">
    <h4 class="mb-3 text-center text-primary">DIligenciar encuesta - nombre encuesta</h4>
  </div>

  <div class="col-12">
    <div class="bg-light rounded h-100 p-4">
      <h5 class="mb-4">Información general</h5>
      <div class="row mb-3">
        <div class="col-sm-4">
          <p type="text"><b>Creado por:</b> Juan Rodruigez</p>
        </div>
        <div class="col-sm-4">
          <p type="text"><b>Fecha inicio:</b> 2022-01-02</p>
        </div>
        <div class="col-sm-4">
          <p type="text"><b>Fecha fin:</b> 2022-01-10</p>
        </div>
      </div>
      <div class="row mb-3">
        <b class="col-sm-2">Nombre encuesta: </b>
        <div class="col-sm-10">
          <p type="text" id="surveyName">Encuesta Gohi V2</p>
        </div>
      </div>
      <div class="row mb-3">
        <b>Descipción de la encuesta: </b>
        <div class="col-sm-12">
          <p type="text">lorem pis</p>
        </div>
      </div>
      <div class="row mb-3">
        <b class="col-sm-2">Nombre proceso: </b>
        <div class="col-sm-10">
          <p type="text" id="processName">Proceso de evaluación año 2022</p>
        </div>
      </div>

      <div class="row mb-3">
        <b>Descipción del proceso: </b>
        <div class="col-sm-12">
          <p type="text">lorem pis</p>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12 mt-4 mb-2">
    <div class="bg-light rounded h-100 p-4">
      <h5 class="mb-4">Preguntas</h5>
      <div class="accordion accordion-flush" id="accordionDimensiones">
        <div *ngFor="let dim of dimensionesArr; let indice=index" class="accordion-item">
          <h2 class="accordion-header" [attr.id]="'flush'+dim.codigo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" (click)="optenerPreguntaDimensionUuid(dim.codigo)"
              [attr.data-bs-target]="'#dimension'+dim.codigo" aria-expanded="true"
              [attr.aria-controls]="'dimension'+dim.codigo">
              {{dim.codigo}} - {{dim.nombre}}
            </button>
          </h2>
          <div [attr.id]="'dimension'+dim.codigo" class="accordion-collapse collapse " [attr.aria-labelledby]="'flush'+dim.codigo"
            data-bs-parent="#accordionDimensiones">
            <div class="accordion-body">

              <div *ngFor="let preg of encuPreguntasArr; let indice=index;" class="mb-3">
                <div class="d-flex justify-content-between align-items-center align-content-center mb-1">
                  <b class="col-1 text-center">{{indice+1}} . </b>
                  <p class="col m-0 p-0">
                    {{preg.pregunta}}
                  </p>
                </div>
                <div class="mt-2 row">
                  <span class="col-1 text-center"></span>
                  <div class="col-11">
                    <div *ngFor="let option of options" [ngClass]="'form-check'">
                      <input class="form-check-input" type="radio" [attr.name]="'opcion'+preg.codigo_pregunta" [attr.id]="'opcion'+preg.codigo_pregunta">
                      <label class="form-check-label" [attr.for]="'opcion'+preg.codigo_pregunta">{{option.name}}</label>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-4 mb-4">
    <button class="btn btn-primary">Finalizar encuesta</button>
  </div>

</div>
